@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Libre Baskerville', serif;
	color: #fff;
}

a.category {
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    background: #080808a1;
}

#calendar h7 {
    font-size: 12px;
}

hr {
    color: orange;
    border: 1px;
    border-style: solid;
    width: 75%;
    display: block;
    margin: 15px auto 0  auto;
}

div#calendar {
    margin-top: 20px;
}

#calendar .container {
    border: 1px solid #009688;
    width: 90%;
    border-radius: 5px;
    padding: 20px;
    line-height: 40px;
    background: #090a1ca1;
}


#date h4 {
    color: orange;
    margin-top: -10px;
}

body
{
	background: url(images/bg.jpg) no-repeat top center;
	background-size: cover;
}

section
{
	position: relative;
	width: 100%;
	/*height: 100vh;*/
	overflow: hidden;/*
	display: flex;
	justify-content: center;
	align-items: center;*/
	text-align: center;
	z-index: -1;
}

section .star
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	animation: animate 8s ease-in-out infinite,
				backgroundmove 16s linear infinite;
}


section .star.star1
{
	animation-delay: 0s;
	background: url(images/star1.png);
	background-size: cover;
}
section .star.star2
{
	animation-delay: -1s;
	background: url(images/star2.png);
	background-size: cover;
}
section .star.star3
{
	animation-delay: -2s;
	background: url(images/star3.png);
}
section .star.star4
{
	animation-delay: -3s;
	background: url(images/star4.png);
}/*
section .star.star5
{
	animation-delay: -4s;
	background: url(images/star5.png);
}
section .star.star6
{
	animation-delay: -5s;
	background: url(images/star6.png);
}
section .star.star7
{
	animation-delay: -6s;
	background: url(images/star7.png);
}
section .star.star8
{
	animation-delay: -7s;
	background: url(images/star8.png);
}*/

@keyframes animate
{
	0%,20%,40%,60%,80%,100%
	{
		opacity: 0;
	}

	10%,30%,50%,70%,90%
	{
		opacity: 1;
	}
}

@keyframes backgroundmove
{
	0%
	{
		transform: scale(1);
	}
	100%
	{
		transform: scale(2);
	}
}

#header
{
	padding: 5px;
	background: #06071096;
}


#logo img
{
	width: 150px; 
}

#date
{
	margin-top: 30px;
	line-height: 10px;
	font-weight: bold;
}

.animal
{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(images/zodiac.png) no-repeat left top;
	background-size: 90px;
}

.animal_23_1
{
	background-position: -60px -30px;
}

.service
{
	font-size: 14px;
	margin-top: 20px;
}

.service img
{
	width: 100%;
}

.smallinfo
{
	font-size: 13px;
	line-height: normal;
}

.slogan
{
	color: orange;
	line-height: normal;
}


@media screen and (max-width: 375px) {	
	.smallinfo
	{
		font-size: 10px;
		line-height: normal;
	}
	
	.animal
	{
		width: 20px;
		height: 20px;
		background-size: 60px;
	}
	
	.animal_23_1
	{
		background-position: -45px -20px;
	}

	.slogan
	{
		font-size: 10px;
	}

}